/.gradle
/build
/*/build
app_mojo/src/main/assets/components/jre
/app_mojo/src/main/assets/components/jre-new/
/app_mojo/src/main/assets/components/jre-21/
local.properties
.idea/
app_mojo/.cxx/
.vs/
/curseforge_key.txt
/app_mojo/libs/ltw-release.aar
